<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>

  <div class="nav-links-wrapper">
    <a href="/" class="nav-link">Back to home</a>
    <a href="<%= `/category/add/${section}`%>" class="nav-link">Add new item</a>
  </div>

  <div class="products">
    <% products.map(product => { %>
      <div class="product">
        <h2><%= product.name  %></h2>
        <div class="details">
          <% for( const [key, object] of Object.entries(product)) { %>
            <% if (key == "id") continue; %>
            <% if (key == "name") continue; %>
            <div class="detail">
              <p><%= key %> :</p>
              <p><%= object %></p>
            </div>
          <% } %>
        </div>
        <div class="buttons">
          <a href="<%= `edit/${section}/${product.id}` %>" class="nav-link">Edit</a>
          <a href="<%= `/remove/${section}/${product.id}` %>" class="nav-link remove">Remove</a>
        </div>
      </div>
      <% }); %>
  </div>
</body>
<%- include("partials/footer.ejs")%>
</html>