<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Computers</title>
</head>
<body>
  <h1>Desktops</h1>
  <div class="nav-links-wrapper">
    <a href="/" class="nav-link">Back to home</a>
    <a href="/computer/add" class="nav-link">Add New Computer</a>
  </div>
  <div class="computer-container">
  <% computers.map(computer => { %>
    <div class="computer">
      <h2><%= computer.name %></h2>
      <h3>Specs</h3>
      <div>CPU: <%= computer.cpu_name %></div>
      <div>Graphics Card: <%= computer.gpu_name %></div>
      <div>Motherboard: <%= computer.motherboard_name %></div>
      <div>Power Supply: <%= computer.psu_name %></div>
      <div>Storage: <%= computer.storage_name %></div>
      <div>Case: <%= computer.case_name %></div>
      <div class="buttons" style="margin-top:5px;">
        <a href="<%= `/computer/edit/${computer.id}`%>" class="nav-link">Edit</a>
        <a href="<%= `/remove/computers/${computer.id}`%>" class="nav-link remove">Remove</a>
      </div>
    </div>
  <% }) %>
</div>
</body>
<%- include("partials/footer.ejs")%>
</html>