<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Computers</title>
</head>
<body>
  <h1>Desktops</h1>
  <a href="/">Back to home</a>
  <a href="/computer/add">Add New Computer</a>
  <div class="computer-container">
  <% computers.map(computer => { %>
    <div class="computer">
      <div>Name: <%= computer.name %></div>
      <div>CPU: <%= computer.cpu_name %></div>
      <div>Graphics Card: <%= computer.gpu_name %></div>
      <div>Motherboard: <%= computer.motherboard_name %></div>
      <div>Power Supply: <%= computer.psu_name %></div>
      <div>Storage: <%= computer.storage_name %></div>
      <div>Case: <%= computer.case_name %></div>
    </div>
  <% }) %>
</div>
</body>
</html>