<head>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <form action=<%= `/computer/edit/${id}` %> method="POST">
    <h1 style="margin: 0 auto; ">Edit Computer</h1>
    <input type="hidden" name="id" id="id" value="<%= id %>">
    <div class="form-field">
      <label for="name">Name</label>
      <input type="text" value="<%= `${computer.name}` %>" name="name" id="name" required>
    </div>
    <div class="form-field">
      <label for="cpu">Cpu</label>
      <select name="cpu" id="cpu" required>
        <% components.cpu.forEach( cpu => {%>
          <option value=<%= cpu.id %> <%- cpu.id == computer.cpu_id ? "selected" : "" %>><%= cpu.name %></option>
        <% }) %>
      </select>
    </div>
    <div class="form-field">
      <label for="gpu">Gpu</label>
      <select name="gpu" id="gpu" required>
        <% components.gpu.forEach( gpu => {%>
          <option value=<%= gpu.id %> <%- gpu.id == computer.gpu_id ? "selected" : "" %>><%= gpu.name %></option>
        <% }) %>
      </select>
    </div>
    <div class="form-field">
      <label for="motherboards">Motherboard</label>
      <select name="motherboards" id="motherboards" required>
        <% components.motherboards.forEach( motherboards => {%>
          <option value=<%= motherboards.id %> <%- motherboards.id == computer.motherboard_id ? "selected" : "" %>><%= motherboards.name %></option>
        <% }) %>
      </select>
    </div>
    <div class="form-field">
      <label for="psu">Power Supply</label>
      <select name="psu" id="psu" required>
        <% components.psu.forEach( psu => {%>
          <option value=<%= psu.id %> <%- psu.id == computer.psu_id ? "selected" : "" %>><%= psu.name %></option>
        <% }) %>
      </select>
    </div>
    <div class="form-field">
      <label for="rams">Ram</label>
      <select name="rams" id="rams" required>
        <% components.rams.forEach( rams => {%>
          <option value=<%= rams.id %> <%- rams.id == computer.ram_id ? "selected" : "" %>><%= rams.name %></option>
        <% }) %>
      </select>
    </div>
    <div class="form-field">
      <label for="storage">Storage</label>
      <select name="storage" id="storage" required>
        <% components.storage.forEach( storage => {%>
          <option value=<%= storage.id %> <%- storage.id == computer.storage_id ? "selected" : "" %>><%= storage.name %></option>
        <% }) %>
      </select>
    </div>
    <div class="form-field">
      <label for="cases">Case</label>
      <select name="cases" id="cases" required>
        <% components.cases.forEach( cases => {%>
          <option value=<%= cases.id %> <%- cases.id == computer.case_id ? "selected" : "" %>><%= cases.name %></option>
        <% }) %>
      </select>
    </div>
    <button type="submit">Update</button>
  </form>
  <a href="/computer">Cancel</a>
</body>
<%- include("partials/footer.ejs")%>